apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp-deployment
  labels:
    app: myapp
spec:
  replicas: 2
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
      - name: myapp-container
        image: suraj0294/myapp:1.0.1
        ports:
        - containerPort: 5000
        env:
        - name: APP_VERSION
          value: 1.0.0
        - name: API_KEY
          valueFrom:
            secretKeyRef:
              name: myapp-secrets
              key: API_KEY
        - name: RUN_MODE
          value: "service"